h1 {
  text-align: justify;
  color: yellow
}
body {
  padding-left: 50px;
  padding-right: 50px;
  margin:100px;
  text-align: justify;
  font-family: fantasy;
  font-size:150%
}
#pol  {
  color: yellow
}
.yu {
  padding-left: 380px;
  color: yellow;
  font-style: oblique;

}
.no {
  padding-top: 20px;
  padding-left:200px;
  padding-right:200px;
}
#pol {
  border-style: outset;
  border-color: white;
  border-radius: 10px;
  padding: 10px;
}
.k{
  color: yellow;
}
